.body {
    background: #fefefe

}
.main {
    margin: 32px auto;
    width: 100%;
    max-width: 700px;
    padding: 58px;
}
.navigation {
padding: 20px;
position: fixed;
background: #fefefe;
width: 100%;
box-sizing: border-box;
position: fixed;
top: 0px;
left: 0;
}
.navigation__link {
padding: 0 5px 0 5px;
color: #a2a77b;
text-decoration: none;

}

.mainHader {
color: #84a9c0;
}

.about {
    overflow: hidden;

}
.about__header {
color: #98c1d9;
}
.about__paragraf {

}
.abount__photo {
width: 100%;
max-width:100px;
display: block;
float: left;
margin: 0 10px 10px 0; 

}


.ASP {

}
.ASP__header {
    color: #98c1d9;
}
.ASP__Paragraf {

}

.LPP {
 
}
.LPP__header {
    color: #98c1d9;
}
.LPP__paragraf {

}

.Szwaicarja {
   
}
.Szwaicarja__header {
    color: #98c1d9;
}
.Szwaicaria__paragraf {

}

.JS {

}

.JS__paragraf {
    
}

.footer {
padding: 20px;
}
.footer__link {
position: fixed;
bottom: 50px;
right: 20px;

}